
@page "/Login"

<div class="container">
    <div class="wrapper">

        <EditForm Model="@loginModel" OnValidSubmit="HandleValidSubmitAsync" class="form-signin">
            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
            <hr class="colorgraph"><br>
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="Username" class="form-control" placeholder="Username" @bind-Value="loginModel.Username" />
            <InputText id="password" class="form-control" placeholder="password" type="password" @bind-Value="loginModel.Password" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </EditForm>


        @*<form action="" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
                <hr class="colorgraph"><br>

                <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
                <input type="password" class="form-control" name="Password" placeholder="Password" required="" />

                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
            </form>*@
    </div>
</div>